---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About";

const identity = {
	firstName: "Dwight",
	country: "USA",
	occupation: "IT",
	wife: "Taiylor",
};

const wifeAttributes = ["beautiful", "funny", "intelligent"];

---
<style>
	.attributes {
		color:purple;
		font-weight: bold;
	}
</style>

<BaseLayout pageTitle={pageTitle}>

        <h2>For You</h2>
        <p>This Christmas I desired to go further than the normal card or letter.</p>
        <p>I decided that I would create something that could display how thankful I am for you.</p>
		<p>I am truly blessed to have someone that is so:</p> 
		<ul>
			{wifeAttributes.map((wifeAttributes) => <li class="attributes">{wifeAttributes}</li>)}
		</ul>		
        <p>You continually bring fulfillment and joy into my life. I love you more than words alone can say.</p>
		
</BaseLayout>