---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';

const pageTitle = "About";

const identity = {
	firstName: "Dwight",
	country: "USA",
	occupation: "IT",
	wife: "Taiylor",
};

const wifeAttributes = ["beautiful", "funny", "intelligent"];

const wifeColor = "purple";
const fontWeight = "bold";
const textCase = "capitalize";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{wifeColor, fontWeight, textCase}}>
			h1 {
				color: var(--wifeColor);
				font-size: 4rem;
			}
			.attributes {
				color: var(--wifeColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>
	</head>
	<body>
		
        <Navigation />

		<h1>{pageTitle}</h1>
        <h2>For You</h2>
        <p>This Christmas I desired to go further than the normal card or letter.</p>
        <p>I decided that I would create something that could display how thankful I am for you.</p>
		<p>I am truly blessed to have someone that is so:</p> 
		<ul>
			{wifeAttributes.map((wifeAttributes) => <li class="attributes">{wifeAttributes}</li>)}
		</ul>		
        <p>You continually bring fulfillment and joy into my life. I love you more than words alone can say.</p>
	</body>
</html>