---
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');

const pageTitle = "Dev Blog";

const excited = true;
const finished = false;
const goal = 9;
---

<BaseLayout pageTitle={pageTitle}>

        {excited && <p>I am excited to both be learning and creating at that the same time!</p>}
        {finished && <p>I finished my project!</p>}
        {goal == 9 ? <p>My goal is to finish in 9 days</p> : <p>My goal is to finish in less than 9 days</p>}

        <p>How will anyone know how this site came to be?</p>
        <p>I guess I will add some notes about my journey!</p>
        <ul>
            {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
        </ul>

</BaseLayout>
