---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

        <a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/blog/">Dev Blog</a>

		<h1>Dev Blog</h1>
        <p>Not Sure What I'm Going to Put Here Yet</p>
        <p>I guess I will add some posts about my journey!</p>
        <ul>
            <li><a href="/posts/post-1">1st Post</a></li>
        </ul>

	</body>
</html>
