---
const pageTitle = "Dev Blog";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>

        <a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/blog/">Dev Blog</a>

		<h1>{pageTitle}</h1>
        <p>How will anyone know how this site came to be?</p>
        <p>I guess I will add some posts about my journey!</p>
        <ul>
            <li><a href="/posts/post-1">1st Post</a></li>
            <li><a href="/posts/post-2">2nd Post</a></li>
            <li><a href="/posts/post-3">3rd Post</a></li>
        </ul>

	</body>
</html>
