---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Our World";
---
<BaseLayout pageTitle={pageTitle}>
  <Greeting client:load messages={["Hello", "Hallo", "Hola", "Habari"]} />
  <h2>What We have created</h2>
  <div class="homepic">
  <img alt="Picture of our family" src="/images/family1.jpg" loading="lazy">
  </div>
</BaseLayout>